@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {

    --blue-100: #d0e3f9;
    --blue-200: #a1c8f3;
    --blue-300: #72aced;
    --blue-400: #4391e7;
    --blue-500: #1475e1;
    --blue-600: #105eb4;
    --blue-700: #0c4687;
    --blue-800: #082f5a;
    --blue-900: #04172d;
    --red-100: #fbcfd8;
    --red-200: #f6a0b1;
    --red-300: #f2708a;
    --red-400: #ed4163;
    --red-500: #e9113c;
    --red-600: #ba0e30;
    --red-700: #8c0a24;
    --red-800: #5d0718;
    --red-900: #2f030c;
    --purple-100: #dcccff;
    --purple-200: #be8fff;
    --purple-300: #b061ff;
    --purple-400: #962eff;
    --purple-500: #9000ff;
    --purple-600: #7100c7;
    --purple-700: #590099;
    --purple-800: #2d004d;
    --purple-900: #1e0132;
    --green-100: #ccffcc;
    --green-200: #8fff8f;
    --green-300: #57ff57;
    --green-400: #1fff20;
    --green-500: #00e701;
    --green-600: #00b801;
    --green-700: #008a01;
    --green-800: #004d00;
    --green-900: #013e01;
    --yellow-100: #fff2dd;
    --yellow-200: #ffdeaa;
    --yellow-300: #ffcc7b;
    --yellow-400: #ffb949;
    --yellow-500: #ff9d00;
    --yellow-600: #cd7f01;
    --yellow-700: #9c6000;
    --yellow-800: #633d00;
    --yellow-900: #301d00;
    --grey-100: #d5dceb;
    --grey-200: #b1bad3;
    --grey-300: #557086;
    --grey-400: #2f4553;
    --grey-500: #213743;
    --grey-600: #1a2c38;
    --grey-700: #0f212e;
    --grey-800: #071d2a;
    --grey-900: #071824;

    --space-0: 0rem;
    --space-0-5: .125rem;
    --space-1: .25rem;
    --space-1-5: .375rem;
    --space-2: .5rem;
    --space-3: .75rem;
    --space-4: 1rem;
    --space-5: 1.25rem;
    --space-6: 1.5rem;
    --space-7: 1.75rem;
    --space-8: 2rem;
    --space-9: 2.25rem;
    --space-10: 2.5rem;
    --space-12: 3rem;
    --space-14: 3.5rem;
    --space-16: 4rem;
    --space-20: 5rem;

    --background: 0 0% 100%;

    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;

    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem
  }
  .dark {

    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%
  }
}

.bg-stake {
  background-color: var(--grey-600);
}


.bg-semi-dark {
  background-color: var(--grey-500);
}

.bg-dark {
  background-color: var(--grey-700);
}

.player-action-btn {
  background-color: var(--grey-400)
}

.bg-green-500 {
  background-color: var(--green-500);
}

.game-sidebar {
  background: var(--grey-500);
  padding: var(--space-3);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
